/* ==UserStyle==
@name CleanPiazzaDark - a clean dark piazza theme
@namespace github.com/yutotakano/CleanPiazzaDark
@version 0.2.0
@description Dark clean theme for Piazza
@author Yuto Takano
@homepageURL https://github.com/yutotakano/CleanPiazzaDark
@supportURL https://github.com/yutotakano/CleanPiazzaDark/issues

@var text darkmode-images "Darkify images (0 for false, 1 for true)" 0
==/UserStyle== */

@-moz-document domain("piazza.com") {

:root	{
  --page-bg: #1E2124;
  --border-color: #403f3f;
  --disctinct-border-color: #4a4949;

  --tags-border: #3e4244;
  --tags-bg: #40454a;
  --tags-text: #707d8d;

  --homescreen-header-text: #ccc;
  --homescreen-header-text-lastupdated: #999;

  --primary-button-bg: #2178d3;
  --thanks-button-bg: #35866d;
  
  --search-bg: var(--post-bg);

  --feed-bucket-header-bg: #202020;
  --feed-bucket-header-border: var(--tags-border);
  --feed-item-border: var(--tags-border);
  --feed-item-bg: #36393E;
  --feed-item-hover-bg: #2c3337;
  --feed-item-selected-bg: #1E2124;
  --feed-item-unanswered-bg: #321313;
  --feed-item-dropdown-arrow-bg: #999999;
  --feed-item-unresolved-followups-text: #dd5e5e;
  --feed-item-instructor-endorsed-text:#41a284;
  --feed-item-open-teammate-search: var(--feed-item-unresolved-followups-text);

  --feed-item-title-text:#c5d4e6; /* #30424D;*/
  --feed-item-snippet-text: #999999;
  --feed-item-selected-title-text: #80BBFF;

  --unread-indicator-bg: #2178d3;

  --slider-bg: #333;
  --slider-handle-bg: #fff;
  --slider-tick: #999;
  --slider-red-bg: #b35f5f;

  --post-viewcount-text: #333;

  --post-bg: #36393E;
  --post-actions-bg: #252e36;

  --post-title-text: #ffffff;
  --post-body-text: #cccccc;
  --post-link-texts: #5ea1e8;
  
  --clarifying-discussion-border: #575959;
  --clarifying-discussion-bg: #34373c;
  --clarifying-discussion-reply-bg: #2a2e33;

  --stats-text: #99a9bd;
  --inactive-group-bg: #c67a7a;
  --inactive-group-text: white;
  color-scheme: dark;
}

#page_main .main_panel {
  background: var(--page-bg);
}

body {
  font-family: sans-serif !important;
  background: var(--page-bg) !important;
}

/* Loading indicator */
.blockUI {
  background-color: var(--text-bg) !important;
  opacity: 0.7 !important;
}

.UIMessage {
  background: #ffffff !important;
  border: none !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  padding: 5px 20px !important;
  border-radius: 3px !important;
  color: #707d8d !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}

.UIMessage:hover {
  text-decoration: none !important;
}

body .navbar-inner {
  background: var(--page-bg) !important;
}
.navbar-inner {
  background: var(--page-bg) !important;
}
body #topbar {
/*   height: 45px; */
/*   padding-top: 5px; */
  border: none !important;
  box-shadow: none !important;
}

/*Hardcode these*/
.topbar_color1 {
  background: #2178d4 !important;
}
.topbar_color2 {
  background: #35866d !important;
}
.topbar_color3 {
  background: #655ea1 !important;
}
.topbar_color4 {
  background: #36393E !important;
}
.topbar_color5 {
  background: #857129 !important;
}

#topbar .class-menu-wrapper .top_bar_notification {
  background: #2178d4 !important; /*TODO find where this is*/
  margin-top: 0px !important;
  margin-left: 5px !important;
  font-family: sans-serif !important;
  letter-spacing: 0.5px !important;
  border-radius: 20px !important;
  padding: 3px 5px 1px 5px !important;
}

#floating-gear {
  background: none !important;
  filter: invert(1);
  padding: 16px 15px 9px 0px !important;
  transform: scale(1.3) !important;
}

#page_main {
  top: 50px !important;
}

#page_main.has_popular_tags_bar > .views {
  top: 35px !important;
  border-top: 1px solid var(--border-color);
}

#popular_tags_bar {
  font-family: sans-serif !important;
  height: 35px !important;
  background: var(--page-bg) !important;
  padding-left: 14px !important;
  padding-top: 3px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#popular_tags_bar .folder_icon {
  display: none;
}

#popular_tags_bar .tag {
  margin: 0px !important;
  padding: 0px !important;
  font-family: sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 0.2px !important;
}

#popular_tags_bar .popular_tag_number {
  font-weight: normal !important;
  font-family: sans-serif !important;
  border-radius: 20px !important;
  padding: 0px 5px 0px 5px !important;
  background: var(--tags-bg) !important;
  color: var(--tags-text) !important;
  border: 1px solid var(--tags-border) !important;
  vertical-align: middle;
  margin-left: 3px !important;
}

#popular_tags_bar.theresMore #popular_tags_list {
  height: 20px !important;
  overflow: hidden !important;
}

#topbar .dropdown-menu {
  background: var(--post-bg) !important;
  border: 2px solid var(--disctinct-border-color) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.dropdown-item:not(:hover) {
  background: var(--post-bg) !important;
  color: var(--post-body-text) !important;
}

.dropdown-item:hover {
  background: var(--primary-button-bg) !important;
}

/* excessive selectors necessary because the default has !important*/
#react_topbar #topbar .dropdown .dropdown-menu .dropdown-item.dark-item,
#react_topbar #topbar .dropdown #my_class_menu .dropdown-item.dark-item:hover {
  background: var(--page-bg) !important;
  color: var(--post-body-text) !important;
}

#react_topbar #topbar .dropdown .dropdown-menu .dropdown-item.border-top {
  border-top: 1px solid var(--disctinct-border-color) !important;
}

#popular_tags_bar ul {
  height: 20px;
  overflow: hidden;
}

.navbar .nav {
  margin: 2px 10px 0 0 !important;
}

.page_feed .page_feed_tool_bar {
  text-shadow: none !important;
  font-family: sans-serif !important;
  font-weight: 500;
  background: var(--page-bg);
  height: 40px !important;
  padding-top: 5px !important;
  border: none !important;
  padding-left: 10px !important;
  width: calc(100% - 10px) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#history_slider #question_history_slider_wrapper {
  background: var(--page-bg);
}

.page_feed .page_feed_tool_bar #page_feed_filter_buttons li {
  font-size: 13px !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  padding: 2px 7px !important;
  margin-top: 5.5px !important;
  margin-right: 5px !important;
}

.page_feed .page_feed_tool_bar #page_feed_filter_buttons li:hover {
  border: none !important;
  background: #f7f8f9 !important; /*TODO find where this is*/
  font-size: 13px !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  padding: 3px 8px !important;
  margin-top: 5.5px !important;
  margin-right: 5px !important;
}

.page_feed .page_feed_tool_bar #page_feed_filter_buttons li:last-child {
  margin-right: 0px !important;
}

.scrollable#question_feed_questions {
  top: 119px !important;
  padding-bottom: 20px;
}

.page_feed .page_feed_search_wrapper {
  background: var(--page-bg) !important;
}

.page_feed .page_feed_tool_bar .hide_show_feed.hide_feed {
  display: none;
}

.page_feed .page_feed_search_wrapper #new_post_button {
  margin: 0px !important;
  background: var(--primary-button-bg) !important;
  border-radius: 0px !important;
  border: none !important;
  height: 30px !important;
  margin: 0px 10px !important;
  border-radius: 3px !important;
  font-size: 14px !important;
  font-family: sans-serif !important;
  text-shadow: none !important;
  font-weight: 500 !important;
  box-shadow: rgba(33, 120, 211, 0.1) 0px 0px 0px 1px,
    rgba(33, 120, 211, 0.1) 0px 2px 4px !important;
}

.page_feed .page_feed_search_wrapper #new_post_button i {
  height: 17px !important;
  width: 15px !important;
  margin-top: 3px !important;
}

#feed_search {
  display: grid;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.page_feed .page_feed_tool_bar .page_feed_options {
  margin: 0px !important;
  padding: 5px !important;
  transform: translateX(-12px) scale(1.15) translateY(6.5px) !important;
}

.page_feed .page_feed_search_wrapper .search_bar .icon {
  margin-top: 3px !important;
}

.feed_options_arrow {
  display: none;
}

.page_feed .page_feed_search_wrapper .search_bar {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  margin: 8px 10px !important;
  border: none !important;
  border-radius: 3px !important;
  height: 21px !important;
  background: var(--search-bg);
}

.page_feed .page_feed_search_wrapper .search_bar input {
  background: var(--search-bg) !important;
  color: white !important; 
  border: none !important;
}

.page_feed .page_feed_bucket_header {
  font-size: 12px !important;
  font-family: sans-serif !important;
  background: var(--feed-bucket-header-bg) !important;
  text-align: center !important;
  padding-top: 8px !important;
  border-color: var(--feed-bucket-header-border) !important;
  text-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.page_feed {
  border-right: 1px solid var(--border-color) !important;
  background: var(--page-bg);
}

.page_feed .feed_item {
  padding: 18px 3px 14px 0px !important;
  border-color: var(--feed-item-border) !important;
  transition: all 0.1s;
  cursor: pointer;
  background: var(--feed-item-bg);
} 

.page_feed .feed_item.selected {
  background: var(--feed-item-selected-bg) !important;
}

.page_feed .feed_item.unanswered {
  background: var(--feed-item-unanswered-bg);
  box-shadow: none !important;
  text-shadow: none !important;
}

.page_feed .feed_item:hover {
  background: var(--feed-item-hover-bg);
}

.page_feed .feed_item .content {
  margin-right: 55px !important;
}

.page_feed .feed_item .content .snippet {
  white-space: nowrap !important;
  overflow: hidden !important;
  margin-top: 2px !important;
  color: var(--feed-item-snippet-text);
}


.page_feed .feed_item .content .title {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: var(--feed-item-title-text) !important;
}

.page_feed .feed_item.selected .content .title {
  color: var(--feed-item-selected-title-text) !important;
}

.page_feed .feed_item .content .messages > li {
  font-family: sans-serif !important;
}

.page_feed .feed_item .content .messages {
  margin-top: 5px !important;
}

.page_feed .feed_item .content .messages .unresolved_followups {
  color: var(--feed-item-unresolved-followups-text) !important;
}

.page_feed .feed_item .content .messages .instructor_endorsed {
  color: var(--feed-item-instructor-endorsed-text) !important;  
}

.page_feed .feed_item .content .messages .open_teammate_searches {
  color: var(--feed-item-open-teammate-search) !important;
}

.page_feed .feed_item .feed_item_dropdown_selector.closed ul {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  border: none !important;
}

.page_feed .feed_item .feed_item_dropdown_selector li em {
  font-style: normal !important;
}

.page_feed .feed_item .content .private_icon {
  font-weight: 400;
  color: var(--post-body-text) !important;
  background: var(--tags-bg) !important;
}

.page_feed .feed_item .metadata .icons .new_activity_icon {
  background: var(--unread-indicator-bg) !important;
}

.page_feed
  .feed_item:hover
  .feed_item_dropdown_selector
  .feed_item_dropdown_arrow {
  margin-top: -10px !important;
  border-radius: 0px 0px 3px !important;
  background: var(--feed-item-dropdown-arrow-bg) !important;
}

.page_feed .page_feed_tool_bar #page_feed_options_dropdown {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  border: none !important;
  border-radius: 3px !important;
  padding: 0px !important;
}

.page_feed .page_feed_tool_bar #page_feed_options_dropdown li.section_end {
  border-color: #e6e6e6 !important;
}

#history_slider .slider_wrapper .slider-tick {
  background: var(--slider-tick) !important;
  border-right: none !important;
}

#history_slider .slider_wrapper .slider-red {
  background: var(--slider-red-bg) !important;
}

#history_slider .slider_wrapper .slider-selection {
  background: var(--slider-bg) !important;
}

#history_slider .slider_wrapper .slider-handle {
  background: var(--slider-handle-bg) !important;
  border: none !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
}

#history_slider #question_history_slider_wrapper {
  border-bottom: 1px solid var(--border-color) !important;
  padding-top: 7px !important;
  height: 17px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#history_slider
  #question_history_slider_wrapper
  .question_history_slider_label {
  font-family: sans-serif !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  text-shadow: none !important;
}

.post_region_box {
  margin: 10px 0px !important;
  background: var(--post-bg) !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: var(--post-body-text) !important;
}

.post_region_box .post_region_header {
  padding: 4px 20px 5px 20px !important;
  border-bottom: 1px solid var(--disctinct-border-color) !important;
}

.post_region_box .post_region_header .post_icon {
  transform: scale(0.7) !important;
}

.post_region_box .post_region_header .post_title {
  text-transform: capitalize !important;
  margin-top: 2px !important;
  margin-left: 3px !important;
  color: var(--post-body-text) !important;
}

.post_region_box .post_region_header .copylink  div,
.post_region_box .followup_share .at_ref {
  color: var(--post-body-text) !important;
}

.post_region_box .post_region_header .post_view_count span {
  line-height: 1.55 !important;
}

.post_region_box .post_region_header .post_view_count {
  background: var(--post-body-text) !important;
  padding: 0 4px !important;
  text-shadow: none !important;
  color: var(--post-viewcount-text) !important;
}

.post_region_box .post_region_content:not(.clarifying_discussion) {
  padding: 20px 25px !important;
}

.post_region_box .post_region_content h1.post_region_title {
  font-size: 25px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  color: var(--post-title-text) !important;
}

.post_region_box .post_region_content h1,
.post_region_box .post_region_content h2,
.post_region_box .post_region_content h3,
.post_region_box .post_region_content h5,
.post_region_box .post_region_content h6 {
  color: var(--post-title-text) !important;
}

.post_region_box .post_region_content .post_region_text {
  margin: 15px 0 !important;
  color: var(--post-body-text) !important;
}

.post_region_box .post_region_content .tag.folder {
  color: var(--tags-text) !important;
  background: var(--tags-bg) !important;
}

.post_region_box .post_region_content .tag.folder:hover {
  opacity: 0.8;
}

.post_region_box .post_region_content .tag.folder.selected {
  color: var(--post-bg) !important;
  background: var(--primary-button-bg) !important;
}

.post_region_box .post_region_content .post_region_message.endorse {
  color: var(--feed-item-instructor-endorsed-text) !important;
}

.post_region_box .post_region_content #incompatible_editor_warning {
  color: var(--feed-item-open-teammate-search) !important;
}

.post_region_box .post_region_content .compose_answer,
.post_region_box .compose_discussion,
.post_region_box .compose_reply,
input[type=text],
.post_region_box .edit_mode .post_region_input,
textarea {
  background: var(--page-bg) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--post-body-text) !important;
}

.post_region_box .preview_box {
  background: var(--page-bg) !important;
}

.post_region_box .post_region_arrow_dropdown {
  background: var(--page-bg) !important;
  border: none !important;
  border-radius: 3px !important;
  padding: 5px 10px 3px 9px !important;
  right: 20px !important;
  top: 55px !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  color: #72818f !important;
  text-align: center !important;
}

.post_region_box .post_region_arrow_dropdown > a {
  color: #707d8d !important;
  text-shadow: none !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-align: center !important;
}

.post_region_box .post_region_arrow_dropdown .caret {
  display: none;
}

.post_region_box
  .post_region_arrow_dropdown
  .dropdown-menu#question_note_actions_dropdown {
  width: 180px !important;
  background: var(--page-bg) !important;
  border: none !important;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  border-radius: 3px !important;
  padding: 0px !important;
  text-decoration: none !important;
}

.post_region_box
  .post_region_arrow_dropdown
  .dropdown-menu#question_note_actions_dropdown
  a {
  text-decoration: none !important;
}

.post_region_box
  .post_region_arrow_dropdown
  .dropdown-menu#question_note_actions_dropdown
  li:hover
  a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.post_region_box .post_region_arrow_dropdown .dropdown-menu li {
  font-size: 13px !important;
  padding: 9px 10px 9px !important;
}

.post_region_box .post_region_arrow_dropdown .dropdown-menu li:hover {
  background: var(--feed-item-hover-bg) !important;
}

.post_region_box .post_region_content .clarifying_discussion {
  background: var(--clarifying-discussion-bg) !important;
  border-left: 3px solid var(--clarifying-discussion-border) !important;
  padding: 0px 20px !important;
  margin-bottom: 30px !important;
}

.post_region_box
  .post_region_content
  .clarifying_discussion
  .account_image_container
  .white_border {
  box-shadow: none !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 3px !important;
  padding: 1px !important;
}

.post_region_box .resolve_unresolve_actions {
  background: var(--page-bg) !important;
  color: var(--post-body-text) !important;
  padding: 2px 10px !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 0px 3px 3px 0px !important;
  margin-left: -21px !important;
  margin-bottom: 15px !important;
}

.post_region_box .discussion_replies {
  background: var(--clarifying-discussion-reply-bg) !important;
  padding: 10px 20px !important;
  border-left: 3px dashed var(--clarifying-discussion-border) !important;
}

.post_region_box
  .post_region_content
  .clarifying_discussion
  .discussion_content {
  margin-left: 50px !important;
}

.post_region_box .post_region_actions {
  background: var(--post-actions-bg) !important;
  border: 1px solid var(--border-color) !important;
  line-height: 1.5 !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.post_region_box .post_region_actions a.post_action {
  box-shadow: none !important;
  border: none !important;
  margin: 0 !important;
  line-height: inherit !important;
  float: none !important;
}

.post_region_box .post_region_actions .post_region_actions_meta {
  margin: auto 0 auto auto;
}

div[class*="user_name_"] {
  font-size: 15px;
  margin-bottom: 5px;
}

.followup_actions {
  padding-left: 10px !important;
  text-transform: capitalize !important;
  margin: 10px 0px 15px 0px !important;
}

.post_region_box .followup_actions a,
.post_region_box .post_region_actions a,
[data-pats="post_editor"] .actions a {
  background: var(--thanks-button-bg) !important;
  color: #fff !important;
  padding: 2px 10px !important;
  border-radius: 3px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  display: inline-block;
  text-shadow: none !important;
}

.post_region_box .post_region_actions a.post_action[data-pats="edit_button"],
.post_region_box .post_region_actions.edit_mode a,
[data-pats="post_editor"] .actions a {
  line-height: 20px !important;
  background: var(--primary-button-bg) !important;
}

.post_region_box .followup_actions a:active,
.post_region_box .post_region_actions a:active {
  opacity: 0.7;
} 

.post_region_box .followup_actions a[onclick^="P.clarifying_discussion.undoMarkGoodFollowup"],
.post_region_box .post_region_actions a[onclick^="P.clarifying_discussion.undoMarkGoodFollowup"],
.post_region_box .post_region_actions a[class^="post_action undo"] {
  background: var(--page-bg) !important;
  color: var(--post-links-text) !important;
}

/*Due to a bug, an instructor-posted followup comment will have the behaviour and data-pats switched around -- that is,
normally unmark_followup_good means the content is "undo helpful" and that you have pressed helpful before; but when
the comment is by an instructor, the content is "good comment" and implies you have never pressed it before. This is
surely a bug in Piazza otherwise such inconsistency and inexplainable behaviour shouldn't occur.

Therefore, the CSS does not catch on 
1. a[data-pats="unmark_followup_good"] + .number
2. a[data-pats="unmark_reply_good"] + .number

but instead catches the onclick inline JavaScript -- this is more prone to change but works consistently.*/
.post_region_box .followup_actions a[onclick^="P.clarifying_discussion.undoMarkGoodFollowup"] + .number,
.post_region_box .post_region_actions a[onclick^="PEM.fire('do_good_post');"][style="display: none;"] ~ .post_actions_number,
.post_region_box .post_region_actions a[class~="do_good_answer"][style="display: none;"] ~ .post_actions_number {
  background: var(--thanks-button-bg) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--post-body-text) !important;
}

.post_region_box .followup_actions .number,
.post_region_box .post_region_actions .post_actions_number {
  border-radius: 20px !important;
  border: 1px solid var(--border-color) !important;
  padding: 1px 10px !important;
  margin-left: 2px !important;
}

.post_region_box a {
  color: var(--post-links-text) !important;
}

#history_slider
  #question_history_description_wrapper
  #question_history_description {
  background: var(--page-bg) !important;
  padding: 10px 20px 5px 20px !important;
  border: none !important;
  box-shadow: rgb(238, 238, 238) 0px 5px 8px !important;
  letter-spacing: 0.1px !important;
  color: rgb(114, 129, 143) !important;
  font-family: sans-serif !important;
  max-width: 100% !important;
  width: 100% !important;
}

#history_slider #question_history_description_wrapper {
  max-width: 100% !important;
}

.post_region_box .compose_reply {
  border-radius: 3px !important;
  margin-left: 50px !important;
}

.post_region_box .compose_discussion {
  border-radius: 3px !important;
}

#special_mentions {
  background: var(--page-bg) !important;
  border-color: var(--border-color) !important;
  text-shadow: none !important;
  padding: 15px 20px 10px 20px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.special_mentions_visibility.hide {
  border-color: var(--border-color) !important;
  background: var(--page-bg) !important;
  border-radius: 3px !important;
  padding: 5px 10px !important;
}

#legal_info {
  display: none !important;
}

#special_mentions .stats_item .content {
  box-shadow: none !important;
  background: var(--post-bg) !important;
  border-radius: 3px !important;
  color: var(--stats-text) !important;
}

#special_mentions h3 {
  font-family: sans-serif !important;
  text-shadow: none !important;
}

.homescreen .homescreen_section_header {
  color: var(--homescreen-header-text) !important;
  font-family: sans-serif !important;
  font-size: 28px !important;
  margin-bottom: 10px !important;
  letter-spacing: -0.2px !important;
  text-shadow: none !important;
}

.homescreen .homescreen_section_header i {
  color: var(--homescreen-header-text-lastupdated) !important;
  font-style: normal !important;
  margin-left: 0px !important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
}

.homescreen .homescreen_box {
  background: var(--post-bg) !important;
}

.homescreen_box_section
  .notification_wrapper.clearfix:nth-child(1)
  .notification_icon {
  background: url(https://static.ouorz.com/fromMac/mail-unread-line.svg) left
    top no-repeat !important;
  background-size: contain !important;
}

.homescreen_box_section
  .notification_wrapper.clearfix:nth-child(2)
  .notification_icon {
  background: url(https://static.ouorz.com/fromMac/chat-follow-up-line.svg) left
    top no-repeat !important;
  background-size: contain !important;
}

.homescreen_box_section
  .notification_wrapper.clearfix:nth-child(3)
  .notification_icon {
  background: url(https://static.ouorz.com/fromMac/question-answer-line.svg)
    left top no-repeat !important;
  background-size: contain !important;
}

#added_companies_section.homescreen_box_section
  .notification_wrapper.clearfix:nth-child(1)
  .notification_icon {
  background: url(https://static.ouorz.com/fromMac/link-unlink.svg) left top
    no-repeat !important;
  background-size: contain !important;
}

#added_companies_section.homescreen_box_section
  .notification_wrapper.clearfix:nth-child(2)
  .notification_icon {
  background: url(https://static.ouorz.com/fromMac/user-smile-fill.svg) left top
    no-repeat !important;
  background-size: contain !important;
}

#added_companies_section.homescreen_box_section
  .notification_wrapper.clearfix:nth-child(3)
  .notification_icon {
  background: url(https://static.ouorz.com/fromMac/building-2-fill.svg) left top
    no-repeat !important;
  background-size: contain !important;
}

.homescreen .homescreen_box {
  transition: ease-in-out 0.1s;
}

.homescreen .homescreen_box .notification_wrapper:hover {
  background: #f7f8f9 !important;
  border-radius: 3px !important;
  padding: 5px 0px 2px 0px !important;
}

.homescreen .homescreen_box .light_text {
  color: #999 !important;
  font-style: normal !important;
}

.homescreen .homescreen_box .homescreen_box_section .job_status_select {
  border-radius: 3px !important;
}

#filter_sort_method,
#filter_message,
.alert.search_tool_tip.grey_tool_tip {
  display: none !important;
}

#noresults p {
  color: #999 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  font-style: normal !important;
  text-transform: capitalize !important;
}

.old_new_post .right_section .post_type_box.active {
  background: #2177d2 !important;
  border: none !important;
  color: #fff !important;
}

.post_message {
  margin: 10px !important;
  border-radius: 3px !important;
  padding: 10px 10px !important;
  font-family: sans-serif !important;
  letter-spacing: 0.1px !important;
  background: #f7f8f9 !important;
  border-color: #eee !important;
}

.old_new_post {
  font-family: sans-serif !important;
  color: var(--post-body-text) !important;
}

.old_new_post .right_section .post_type_box em {
  font-style: normal !important;
}

.old_new_post .right_section .post_type_box label {
  font-size: 14px !important;
}

.old_new_post .wdm_wrapper .editor_textarea#rich_old_new_post {
  border-radius: 3px !important;
}

.old_new_post .btn.btn-warning {
  background: #2276d1 !important;
  box-shadow: rgba(33, 120, 211, 0.1) 0px 0px 0px 1px,
    rgba(33, 120, 211, 0.1) 0px 2px 4px !important;
  text-shadow: none !important;
  font-weight: 500 !important;
  color: #fff !important;
}

.old_new_post .btn {
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px !important;
  border: none !important;
  background: #ffffff !important;
  text-shadow: none !important;
  font-weight: 500 !important;
  color: #707d8d !important;
}

.old_new_post .posting_meta_section.post_type {
  background: var(--page-bg);
}

.old_new_post .main_label {
  color: var(--post-body-text);
}

#teams .respond, #teams .edit_post, #teams .new_post {
  background: var(--post-bg) !important;
}

#teams label,
#teams h1, #teams h2, #teams h3, #teams h4, #teams h5, #teams h6 {
  color: var(--post-body-text) !important;
}

#teams #post-table .info .respond_box {
  background: var(--clarifying-discussion-bg);
}

.post_region_box .btn-primary,
#must_read_button {
  background: var(--primary-button-bg) !important;
  color: #fff !important;
  padding: 2px 10px !important;
  border-radius: 3px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  display: inline-block;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
}

.post_region_box .btn-primary:active,
#must_read_button:active {
  opacity: 0.7;
}

.page_feed .drafts {
  font-size: 12px !important;
  font-family: sans-serif !important;
  text-align: center !important;
  padding-top: 8px !important;
  background: var(--feed-bucket-header-bg) !important;
  border-color: var(--feed-bucket-header-border) !important;
  text-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.top_bar_css .top_bar .nav > li.active a {
  color: #333 !important;
}

#statistics_panel h1 {
  font-weight: 600 !important;
  font-size: 25px !important;
}

#statistics_panel #chartsRegion .content {
  background: #ffffff !important;
}

#reportHeader {
  text-align: center !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: #ffffff !important;
}

.navbar.top_bar.custom_topbar_color .navbar-inner .nav.navbar-nav > li > a {
  color: #333;
  font-family: sans-serif;
  line-height: 1.1;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none !important;
}

.navbar.top_bar.custom_topbar_color
  .navbar-inner
  .nav.navbar-nav
  > li.active
  > a {
  color: #333;
  font-family: sans-serif;
  line-height: 1.1;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none !important;
}

#page_main input,
#page_main textarea {
  border-radius: 3px !important;
}

.action.right.cancel {
  margin-left: 10px !important;
  border-radius: 3px !important;
  background: #2178d3 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  padding: 1px 10px !important;
  text-decoration: none !important;
}

div.pull-left {
  margin-top: -3px !important;
}

.pull-left {
  margin-top: 1px !important;
}

.top_bar_careers_homescreen {
  filter: invert(1) !important;
  padding-top: 3px !important;
  transform: scale(1.15) !important;
}

#inactive_group_message {
  background: var(--inactive-group-bg) !important;
  color: var(--inactive-group-text) !important;
  border: none !important;
}

img {
  filter: invert(calc(96% * var(--darkmode-images))) hue-rotate(calc(185deg * var(--darkmode-images))) brightness(calc(100% + 25% * var(--darkmode-images)));
}
}
